body{
  background-color:#3cc4d6 ;
}
.App{
  background-color: #9164cc;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
}
.x{
  background-color: white;
}
.a{
  font-display: black;
  font-size: 20px;
  border-radius: 10px;
}

#to-do-form input{
  background-color: rgba(27, 112, 137, 1);
  border: 0; 
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: rgba(255,255,255,0.5);
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:rgba(105, 216, 78, 0.76); 
  cursor: pointer;
}
#to-do-form button:focus{
  outline: none;
}

.list{
  color: #fff;
  width: 300px;
  margin: 20px auto;
  height: 50px; 
  background-color: rgba(14, 17, 187, 0.164) ;
  border-radius: 5px;
}